<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AlpineJS - Components</title>
  <script defer src="https://unpkg.com/alpinejs@3.10.0/dist/cdn.min.js"></script>
  <link rel="stylesheet" href="/styles/tw-output.css">
</head>
<body>
  <div class="flex justify-center items-center h-screen w-full fixed top-0 left-0 z-50">
    <!-- AlpineJS Model Html -->
    <div x-data="alpinejsModel()" class="w-full max-w-xl rounded-lg p-4 shadow-xl bg-[#F0EBE3]">
      <span class="font-extrabold block pb-2 border-b-2 border-solid border-[#e9e9e9]" x-text="title">Model title</span>
      <div class="py-4">
        <span x-text="desc"></span>
        <div class="mt-4 flex gap-2">
          <template x-for="button in buttons">
            <button :class="button.type" class="flex-grow p-2 rounded-lg font-extrabold cursor-pointer bg-slate-700 text-white text-sm" x-text="button.text"></button>
          </template>
        </div>
      </div>
    </div>
    <!-- End of AlpineJS Model Html -->
  </div>
  <script src="index.js"></script>
</body>
</html>